<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Finish</title>
    <!--Bootstrap css-->
    <link href="../CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/angular-toastr.min.css" rel="stylesheet" />
    <link href="ToDo.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="toDoApp">
        <div class="container col-sm-8 col-sm-offset-2">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="text-center">Get Stuff Done</h1>
            </div>
            <div ng-controller="toDoController as td">
                <div class="addForm col-sm-12">
                    <div class="addTask">
                        <div class="input-group">
                            <input type="text" class="form-control col-sm-6" ng-model="td.data.Task" placeholder="enter a new task" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="td.addNewTask()"><i class="glyphicon glyphicon-plus"></i></button>                               
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="td.clearTask()">Clear</button>
                            </span>                       
                        </div>
                    </div>

                    <div ng-if="td.showForm">
                        <div>
                            <form name="taskForm">
                                <label>Reason</label>
                                <input type="text" class="form-control" ng-model="td.data.Reason" placeholder="Is there a reason for this task?" />
                                <label>Resources</label>
                                <input type="text" class="form-control" ng-model="td.data.Resources" placeholder="Any websites to look at?" />
                                <label>Priority Level</label>
                                <select class="form-control" ng-model="td.data.Priority" required>
                                    <option value="" selected disabled hidden>Please Select a Priority Level</option>
                                    <option value="1">Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                </select>
                                <label>Scheduled For</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="td.data.DueBy" is-open="td.popupCal" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="td.openCal()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <button type="button" class="btn btn-block btn-success submitBtn" ng-click="td.submitTask()">Submit</button>
                    </div>
                </div>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th>Task</th>
                            <th>Reason</th>
                            <th>Resources</th>
                            <th>Priority</th>
                            <th>Finish By</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="task in td.taskList">
                            <td>{{task.Task}}</td>
                            <td>{{task.Reason}}</td>
                            <td>{{task.Resources}}</td>
                            <td>{{task.Priority == 1 ? "Low" : task.Priority==2 ? "Medium" : "High"}}</td>
                            <td>{{task.DueBy|date}}</td>
                            <td><button type="button" class="btn btn-default" ng-click="td.editTask($index, task)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td><button type="button" class="btn btn-danger" ng-click="td.deleteTask($index,task.Id)"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    </table>
                </div>
                <button type="button" class="btn btn-block btn-info" ng-click="td.scrapeReddit()">Get Some Inspiration</button>
                <div>
                    <ul>
                        <li ng-repeat="link in td.linkList">
                            <a ng-href="{{link.LinkUrl.indexOf('/r/') > -1 ? 'https://www.reddit.com' + link.LinkUrl : link.LinkUrl }}">{{link.LinkTitle}}</a>
                        </li>
                    </ul>
                </div>
                <!--<pre>{{td|json}}</pre>-->
            </div>
        </div>
    </div>
    <!-- jQuery-->
    <script src="../../Scripts/jquery-3.2.1.min.js"></script>
    <!--AngularJS-->
    <script src="../../Scripts/angular.min.js"></script>
    <!-- Plugins-->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="../../Scripts/angular-animate.min.js"></script>
    <script src="../../Scripts/angular-toastr.tpls.min.js"></script>
    <!-- All your code goes below here-->
    <script type="text/javascript">

        //Instantiate the app
        (function () {
            "use strict";
            angular.module("toDoApp", ['ui.bootstrap', 'ngAnimate', 'toastr']);
        })();

    </script>

    <script src="toDo.js"></script>

</body>
</html>